# "Intro til Anvendt Matematik og Python opfriskning"
> "19 April 2021 - HA-AAUBS"

- toc: true
- branch: master
- badges: true
- comments: false
- author: Roman Jurowetzki
- categories: [intro, forel√¶sning]

# Intro til Anvendt Matematik og Python opfriskning


- Matematik bruges i finance, √∏konomistyring, data science, tech og meget andet - men ogs√• helt sikkert senere hvis I skal videre med en kandidat.
- Analytiske skills er meget [eftertragtede p√• arbejdsmarkedet](https://youtu.be/u2oupkbxddc 
) 
> [Ny DI-analyse viser](https://www.danskindustri.dk/tech-der-taller/analysearkiv/analyser/2020/10/kompetencer-til-et-digitalt-arbejdsliv/), at den digitale omstilling i virksomheder ikke kan drives af it-specialisterne alene. Der er i st√¶rkt stigende omfang behov for, at samfundsvidenskabelige profiler ogs√• har gode digitale kompetencer.

### Hvad sker her fra idag til 21 Juni?

- overblik over linke√¶r algebra og calculus (ikke meget mere end B niveau)
- Brug gerne fx https://www.webmatematik.dk/ 
- $\LaTeX$ [cheat-sheet](http://tug.ctan.org/info/undergradmath/undergradmath.pdf)
- [Markdown cheatsheet](https://www.markdownguide.org/cheat-sheet/)
- L√¶re at **bruge** matematik - ikke v√¶re matematiker¬®
- l√¶re fra et data/computer science perspektiv, hvor det handler mest at kunne implementere matematik direkte og bruge til fx at bygge en s√∏gemaskine, recommender system, visualisere eller automatisere BI 
- "computational tilgang" - Python som tool
- Danglish

### Pingvin Motivation og Intuition - Fra Data og Statistik til Lini√¶r Algebra

Pingvin data: https://github.com/allisonhorst/palmerpenguins
![](https://github.com/allisonhorst/palmerpenguins/raw/master/man/figures/lter_penguins.png)

Vi bygger en s√∏gemaskine til pingviner ü§î

Antagelse:
- Pingviner kan bedst lide at v√¶re sammen med dem, der ligner dem mest

In [1]:
import pandas as pd
import numpy as np

np.set_printoptions(suppress=True)

import seaborn as sns
sns.set(color_codes=True, rc={'figure.figsize':(10,8)})

In [2]:
pinguins = pd.read_csv("https://github.com/allisonhorst/palmerpenguins/raw/5b5891f01b52ae26ad8cb9755ec93672f49328a8/data/penguins_size.csv")

In [3]:
pinguins.head()

,species_short,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [4]:
pinguins = pinguins.dropna()
pinguins.species_short.value_counts()

Adelie       146
Gentoo       120
Chinstrap     68
Name: species_short, dtype: int64

In [5]:
pinguins.index = range(len(pinguins))